<div class='border p-2 mb-1 d-flex justify-content-between' id= 'comment_<%= comment.slug %>' >
    <span>
        <b>
        <%= comment.user&.full_name || "User" %>
        </b>
    <p class='mb-0 ps-3'><%= comment.content %></p>
    </span>
    <span>
        <% if current_user %>
            <%= link_to 'reply', new_article_comment_path(article_id: @article.slug, comment_id: comment.slug), remote: true %>
            <% if comment.user == current_user %>
                <%= link_to 'edit', "#" %>
                <%= link_to 'delete', article_comment_path(@article, comment), method: :delete,  data: {confirm: "Are you sure?"} %>
            <% end %>
        <% end %>
    </span>
</div>