<div class='container'>
    <div class='text-center mt-3'>
        <h2><%= @article.title %></h2>
        <p>
            Author: <%= @article.user.full_name %>
        </p>
        <p>
            Published: <%= @article.created_at %>
        </p>
    </div>
    <hr/>
    <p>
        <%= @article.content %>
    </p>
    <hr/>
    <h3>Comments</h3>
        <%= form_with model: [ @article, @article.comments.build ] do |f|%>
            <div class="form-group row mb-2">
                <div class='col-md-8'>
                    <%= f.text_field :content, class: 'form-control', placeholder: 'Enter Content' %>
                </div>
                <div class='col-md-4'>
                    <%= f.submit 'Submit', class: 'w-20' %>
                </div>
            </div>
        <%end%>
        <hr />
        <div id='article_comments'>
            <%= render 'comments' %>
        </div>
    <div>
    </div>
</div>