<div class='d-flex align-items-center py-4 bg-body-tertiary'>
  <main class="form-signin w-50 m-auto">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      <h1 class="h3 mb-3 fw-normal">Forgot your password?</h1>
      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@example.com", class: 'form-control' %>
        <%= f.label :email, class: 'floatingInput' %>
      </div>
      <%= f.submit "Send me reset password instructions", class: 'btn btn-primary mt-3 w-100 py-2' %>
    <% end %>
    <%= render "devise/shared/links" %>
      <p class="mt-5 mb-3 text-body-secondary">© 2023–2024</p>
  </main>
</div>


