<%= render "layouts/dashboard_content_header", title: 'Articles' %>
<%= link_to 'Add Article', new_me_article_path, class: 'btn btn-primary' %>
<div class="table-responsive small">
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @articles.each_with_index do |article, index| %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= article.title %></td>
            <td><%= article.content.truncate(125) %></td>
            <td>
                <%= link_to "show", me_article_path(article) %>
                <%= link_to "edit", edit_me_article_path(article) %>
                <%= link_to "delete", me_article_path(article), method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
</div>