<div class='d-flex align-items-center py-4 bg-body-tertiary'>
  <main class="form-signin w-50 m-auto">
    <%= form_for url: "#" do |f| %>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@example.com", class: 'form-control' %>
        <%= f.label :email, class: 'floatingInput' %>
      </div>
      <div class="form-floating">
        <%= f.text_area :content, class: 'form-control' %>
        <%= f.label :content, class: 'floatingInput' %>
      </div>
  </main>
</div>